/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bootstrap */

@import 'bootstrap/scss/root';

@import 'bootstrap/scss/reboot';

@import 'bootstrap/scss/type';

@import 'bootstrap/scss/images';

@import 'bootstrap/scss/containers';

@import 'bootstrap/scss/grid';

@import 'bootstrap/scss/tables';

@import 'bootstrap/scss/forms';

@import 'bootstrap/scss/buttons';

@import 'bootstrap/scss/transitions';

@import 'bootstrap/scss/dropdown';

@import 'bootstrap/scss/button-group';

@import 'bootstrap/scss/nav';

@import 'bootstrap/scss/navbar';

@import 'bootstrap/scss/card';

@import 'bootstrap/scss/accordion';

@import 'bootstrap/scss/breadcrumb';

@import 'bootstrap/scss/pagination';

@import 'bootstrap/scss/badge';

@import 'bootstrap/scss/alert';

@import 'bootstrap/scss/progress';

@import 'bootstrap/scss/list-group';

@import 'bootstrap/scss/close';

@import 'bootstrap/scss/toasts';

@import 'bootstrap/scss/modal';

@import 'bootstrap/scss/tooltip';

@import 'bootstrap/scss/popover';

@import 'bootstrap/scss/carousel';

@import 'bootstrap/scss/spinners';

@import 'bootstrap/scss/offcanvas';

@import 'bootstrap/scss/placeholders';

@import 'bootstrap/scss/helpers';

@import 'bootstrap/scss/utilities/api';

@import '@fontsource/fira-mono';

:root {
	font-family: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: rgba(33, 46, 59, 1);
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: rgba(244, 192, 37, 1);
	--accent-color-secondary: rgba(244, 89, 87, 1);
	--heading-color: rgba(250, 250, 255, 1);
	--text-color: rgba(74, 147, 170, 1);
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	font-family: 'Fira Mono', monospace;;
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4 {
	font-weight: 400;
	color: var(--text-color);
}

h5,
h6,
p {
	color: var(--secondary-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 0.75rem;
	font-family: var(--font-mono);
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
